__pycache__/
*.pyc
.pytest_cache/
.DS_Store
.ipynb_checkpoints/
data/
outputs*/
.env
src/gapsbi.egg-*
logs/

# temporary
paper
configs
rise.pdf
PLAN.MD
reference.txt
*.ipynb
reference_dataset_generation.txt
sbi-logs/*
external_repos/
