__pycache__/
*.pyc
.pytest_cache/
.DS_Store
.ipynb_checkpoints/
data/
outputs*/
references/reference_posteriors_v*/
.env
src/gapsbi.egg-*
logs/

# temporary
*.ipynb
ignore/
sbi-logs/
external_repos/
paper/
scripts/compare_full_vs_low_budget_campaign1.py
